body {
    background-image: url('images/ASSON.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.header-logo {
    width: 100px; /* Increased size */
    height: 50px; /* Increased size */
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header-title {
    margin: 0;
    font-size: 1.75rem; /* Adjusted for larger logo */
}

.card {
    border: 1px solid #28a745;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.card-header {
    background-color: #28a745;
    color: white;
}

header a.btn {
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Make header responsive */
@media (max-width: 576px) {
    .header-logo {
        width: 30px; /* Adjusted for smaller screens */
        height: 15px; /* Adjusted for smaller screens */
        left: 10px;
    }

    .header-title {
        font-size: 0.8rem; /* Adjusted font size for smaller screens */
    }

    header a.btn {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .header-logo {
        width: 35px; /* Adjusted for medium screens */
        height: 17px; /* Adjusted for medium screens */
        left: 15px;
    }

    .header-title {
        font-size: 1rem; /* Adjusted font size for medium screens */
    }

    header a.btn {
        right: 15px;
    }
}

@media (min-width: 769px) {
    .header-logo {
        width: 100px; /* Larger size for larger screens */
        height: 50px; /* Larger size for larger screens */
        left: 20px;
    }

    .header-title {
        font-size: 1.75rem; /* Adjusted font size for larger screens */
    }
}


#main-content {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
}
